*.orig
*~
*.swp
*.suo
packages*/
obj*/
*.pdb
*.dll


#ignore thumbnails created by windows
Thumbs.db

*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
.vs
*.lock.json
artifacts/
.build/
